
@{
    ViewBag.Title = "Quản lý sự kiện";
}
@using QuanLySieuThi.DTO;
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="container container-fluid mt-5">
    <h1 class="text text-info text-center">QUẢN LÝ SỰ KIỆN</h1>
    @if (ViewBag.SuccessMsg != null)
    {
        <div class="alert alert-success show">
            <strong>@ViewBag.SuccessMsg</strong>
        </div>
    }
    @if (ViewBag.FailMsg != null)
    {
        <div class="alert alert-danger show">
            <strong>@ViewBag.FailMsg</strong>
        </div>
    }
    @if (ViewBag.Events != null)
    {
        <span>Hiện có @ViewBag.Events.Count</span>
        <a href="@Url.Action("Add","Event")" id="myButton" class="btn btn-success btn-outline-light" onclick="addEvent()">
            Thêm Sự Kiện
        </a>
        <table id="eventTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Mô tả</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th class="text-right">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Event evt in ViewBag.Events)
                {
                    <tr>
                        <td>@evt.ID</td>
                        <td>@evt.Description</td>
                        <td>@evt.StartDate</td>
                        <td>@evt.EndDate</td>

                        <td class="text-right">
                            <a href="@Url.Action("Detail", "Event", new { id = evt.ID })" class="btn btn-outline-info btn-rounded">Xem chi tiết</a>
                            <a pre-href="@evt.ID" class="btn btn-outline-danger btn-rounded delete">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1 class="text-center text-info">Chưa có sự kiện nào</h1>
    }
</div>

<script>
    let btns = document.querySelectorAll("#eventTable tbody a:nth-child(2)");
    btns.forEach(btn => btn.addEventListener("click", (event) => {
        if (confirm("Bạn có chắc sẽ loại bỏ sự kiện này? Nó cg sẽ xóa các bảng ghi chi tiết")) {
            let id = event.target.getAttribute('pre-href')
                fetch(`@Url.Action("Delete", "Event")`,{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ evtID: id })
                }).then(response => {
                    return response.json();
                }).then(data => {
                    if (data.redirectToUrl) {
                        // Redirect to the specified URL
                        window.location.href = data.redirectToUrl;
                    } else {
                        console.log(data.error);
                    }
                })
                    .catch(error => console.log(error))
        }
    }))
</script>