
@{
    ViewBag.Title = "Chỉnh sửa thông tin nhân viên";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model QuanLySieuThi.DTO.Employee
<style>




    #userTable th,
    #userTable td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
    }

    #userTable th {
        background-color: #f2f2f2;
    }

    #userTable tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    #userTable tr:hover {
        background-color: #ddd;
    }

    .search-buttons {
        border-radius: 3px;
        border: 1px solid black;
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
    }

    .text-right {
        text-align: right !important;
    }

    .main-seach {
        margin-bottom: 5px;
        float: right;
        top: 10px;
        right: 10px;
    }

    #userTable {
        border-collapse: collapse;
    }

        #userTable th,
        #userTable td {
            border: none;
            background-color: #fff;
            border-top: 1px solid #dee2e6;
            vertical-align: middle;
        }


    body {
        background: #f1f1f1;
    }

    div.all-tables {
        border-collapse: collapse;
        background-color: #fff;
        padding: 20px 25px;
        margin-left: 3%;
        margin-top: 3%;
        margin-right: 3%;
    }

    .btn-rounded {
        width: 47px;
    }

    #userTable {
        width: 100%;
    }

    div.form-item > label {
        padding-top: 5px;
        color: black !important;
        display: block;
        font-size: 15px !important;
    }

    div.form-item input {
        margin-bottom: 5px;
    }

    div.form-btn {
        margin-top: 5px;
    }
</style>


<div class="all-tables">
    <h1 class="text-center text-info m-t-10">Chỉnh sửa thông tin người dùng</h1>
    <div id="userTable">
        @using (Html.BeginForm("EditEmployee", "User", FormMethod.Post, new { id = "form-6" }))
        {
            <input id="ID" name="ID" value="@ViewBag.Employee.ID" readonly type="hidden" placeholder="" />

            <div class="form-item">
                <label>Tên đăng nhập: </label>
                <input id="username" class="form-control" name="username" value="@ViewBag.Employee.UserName" type="text" placeholder="Nhập tên...">
                <span class="form-message"></span>
            </div>

            <div class="form-item">
                <label>Họ tên: </label>
                <input id="name" class="form-control" name="name" value="@ViewBag.Employee.Name" type="text" placeholder="Nhập họ tên...">
                <span class="form-message"></span>
            </div>

            <div class="form-item">
                <label>Số điện thoại: </label>
                <input id="phone" class="form-control" name="phone" value="@ViewBag.Employee.Phone" type="text" placeholder="Nhập số điện thoại...">
                <span class="form-message"></span>
            </div>

            <div class="form-item">
                <label>Địa chỉ: </label>
                <input id="address" class="form-control" name="address" value="@ViewBag.Employee.Address" type="text" placeholder="Nhập địa chỉ...">
                <span class="form-message"></span>
            </div>
            <div class="dropdown">
                <label>Chọn danh mục: </label>
                <select class="form-control" id="Role" name="Role" value="@ViewBag.Role">
                    <option value="EMPLOYEE">
                        EMPLOYEE
                    </option>
                    <option value="ADMIN">
                        ADMIN
                    </option>

                </select>
                <span class="form-message"></span>

            </div>
            <input id="password" name="password" value="@ViewBag.Employee.Password" type="hidden" placeholder="Nhập mật khâu..." />
            <div class="form-btn">
                <button type="submit" class="form-submit">Xác nhận</button>
            </div>
        }
    </div>
</div>

<script>
    Validator({
        form: '#form-6',
        formGroupSelector: '.form-item',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#name', "Vui lòng nhập tên đầy đủ !"),
            Validator.isRequired('#address', "Vui lòng nhập địa chỉ!"),
            Validator.isEqualPhone("#phone", 10)
        ]
        //onSubmit: function (data) {
        //const form = document.getElementById("form-6");
        //const formData = new FormData(form)
        //fetch('/User/EditEmployee', {
        //    method: 'POST',
        //    body: formData
        //})
        //    .then(response => {
        //        console.log("fetch dữ liệu thành công lên server");
        //    })
        //    .catch(error => {
        //        console.log("fetch dữ liệu thất bại");
        //    });
        //}
    })

   
</script>