
@{
    ViewBag.Title = "Quản lý nhân viên";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .search-buttons {
        border-radius: 3px;
        border: 1px solid black;
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
    }

    .text-right {
        text-align: right !important;
    }

    .main-seach {
        margin-bottom: 5px;
        float: right;
        top: 10px;
        right: 10px;
    }


    body {
        background: #f1f1f1;
    }

    div.all-tables {
        border-collapse: collapse;
        background-color: #fff;
        padding: 20px 25px;
        margin-left: 2%;
        margin-top: 2%;
        margin-right: 2%;
    }

    .btn-rounded {
        width: 47px;
    }

    #userTable {
        width: 100%;
    }
</style>


<div class="all-tables" style="overflow: scroll; height: 800px">
    <div style="float">
        @using (Html.BeginForm("AddEmployee", "User", FormMethod.Post))
        {
            <form class="form-main flex-container" id="form-5">
                <div class="form-item">
                    <input id="ID" class="form-control" name="ID" value="" readonly type="hidden" placeholder="" />
                    <label>Tên đăng nhập: </label>
                    <input id="username" class="form-control" name="username" value="" type="text" placeholder="Nhập tên...">
                    <span class="form-message"></span>
                </div>

                <div class="form-item">
                    <label>Họ tên: </label>
                    <input id="fullname" class="form-control" name="fullname" value="" type="text" placeholder="Nhập họ tên...">
                    <span class="form-message"></span>
                </div>

                <div class="form-item">
                    <label>Số điện thoại: </label>
                    <input id="phone" class="form-control" name="phone" value="" type="number" placeholder="Nhập số điện thoại...">
                    <span class="form-message"></span>
                </div>

                <div class="form-item">
                    <label>Địa chỉ: </label>
                    <input id="address" class="form-control" name="address" value="" type="text" placeholder="Nhập địa chỉ...">
                    <span class="form-message"></span>
                </div>
                <div class="dropdown">
                    <label>Chọn danh mục: </label>
                    <select class="form-control" id="Role" name="Role" value="@ViewBag.Role">
                        <option value="EMPLOYEE">
                            EMPLOYEE
                        </option>
                        <option value="ADMIN">
                            ADMIN
                        </option>

                    </select>

                    <div class="form-item">
                        <label>Mật khẩu: </label>
                        <input id="password" class="form-control" name="password" value="" type="password" placeholder="Nhập mật khâu..." />
                        <span class="form-message"></span>
                    </div>


                    <div class="form-btn">
                        <button type="submit" class="form-submit btn btn-success">Thêm nhân viên</button>

                    </div>
            </form>
        }
    </div>
    <div class="main-seach">
        <span>Seach:</span>
        <input type="text" onchange="searchUser()" id="searchInput" class="search-buttons" oninput="searchUser()" placeholder="Nhập tên hoặc email">
    </div>
    <table id="userTable" class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Địa chỉ</th>
            <th>SĐT</th>
            <th>Tên tài khoản</th>
            <th>Vai trò</th>
            <th class="text-right">Thao tác</th>
        </tr>
        @if (ViewBag.Employees != null)
        {
            foreach (var emp in ViewBag.Employees)
            {
                <tr>
                    <td>@emp.ID</td>
                    <td>@emp.Name</td>
                    <td>@emp.Address</td>
                    <td>@emp.Phone</td>
                    <td>@emp.UserName</td>
                    <td>@emp.Role</td>
                    <td class="text-right">
                        <a href="@Url.Action("Edit", "User", new { id = emp.ID })" class="btn btn-outline-info btn-rounded"><svg class="svg-inline--fa fa-pen fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pen" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z"></path></svg><!-- <i class="fas fa-pen"></i> --></a>
                        <a href="@Url.Action("Delete", "User", new { id = emp.ID })" class="btn btn-outline-danger btn-rounded"><svg class="svg-inline--fa fa-trash fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"></path></svg><!-- <i class="fas fa-trash"></i> --></a>

                    </td>
                </tr>
            }
        }
    </table>
</div>

<script>

    var searchInput = document.getElementById("searchInput")
    var userTable = document.getElementById("userTable");

    function searchUser() {
        const searchTerm = searchInput.value.toLowerCase();

        for (let i = 1; i < userTable.rows.length; i++) {
            const name = userTable.rows[i].cells[1].textContent.toLowerCase();
            const email = userTable.rows[i].cells[2].textContent.toLowerCase();

            if (name.includes(searchTerm) || email.includes(searchTerm)) {
                userTable.rows[i].style.display = ''; // Show the row
            } else {
                userTable.rows[i].style.display = 'none'; // Hide the row
            }
        }
    }
    Validator({
        form: '#form-6',
        formGroupSelector: '.form-item',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#name', "Vui lòng nhập tên đầy đủ !"),
            Validator.isRequired('#address', "Vui lòng nhập địa chỉ!"),
            Validator.isEqualPhone("#phone", 10)]
    }
    )
</script>