
@{
    ViewBag.Title = "Danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .search-buttons {
        border-radius: 3px;
        border: 1px solid black;
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
    }

    .text-right {
        text-align: right !important;
    }

    .main-seach {
        margin-bottom: 5px;
        float: right;
        top: 10px;
        right: 10px;
    }


    body {
        background: #f1f1f1;
    }

    div.all-tables {
        border-collapse: collapse;
        background-color: #fff;
        padding: 20px 25px;
        margin-left: 2%;
        margin-top: 2%;
        margin-right: 2%;
    }

    .btn-rounded {
        width: 47px;
    }

    #userTable {
        width: 100%;
    }
</style>


<div class="all-tables" style="overflow: scroll; height: 800px">
    <h1 class="text text-center text-info">DANH MỤC</h1>
    @if (ViewBag.SuccessMsg != null)
    {
        <div class="alert alert-success show">
            <strong>@ViewBag.SuccessMsg</strong>
        </div>
    }
    <div style="float">
        @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post, new { id = "form" }))
        {
            <input id="ID" name="ID" value="" readonly type="hidden" placeholder="" />
            <div class="form-item">
                <label>Tên Danh Mục: </label>
                <input id="Name" class="form-control" name="Name" value="" type="text" placeholder="Nhập tên danh mục...">
                <span class="form-message"></span>
            </div>

            <div class="form-item">
                <label>Mô tả: </label>
                <input id="Description" class="form-control" name="Description" value="" type="text" placeholder="Nhập Mô tả...">
                <span class="form-message"></span>
            </div>

            <div class="form-btn">
                <button type="submit" id="addBtn" class="form-submit btn btn-success">Thêm Danh mục</button>
            </div>
        }
        @using (Html.BeginForm("EditCategory", "Category", FormMethod.Post, new { style = "display:none;", id = "form-edit" }))
        {
            <input name="ID" class="cID" value="" readonly type="hidden" placeholder="" />
            <div class="form-item">
                <label>Tên Danh Mục: </label>
                <input class="form-control name" name="Name" value="" type="text" placeholder="Nhập tên danh mục...">
                <span class="form-message"></span>
            </div>

            <div class="form-item">
                <label>Mô tả: </label>
                <input class="form-control description" name="Description" value="" type="text" placeholder="Nhập Mô tả...">
                <span class="form-message"></span>
            </div>

            <div class="form-btn">
                <button type="submit" id="updateBtn" class="form-submit btn btn-success">Cập nhật</button>
            </div>
        }
    </div>
    <div class="main-seach">
        <span>Seach:</span>
        <input type="text" onchange="searchUser()" id="searchInput" class="search-buttons" oninput="searchUser()" placeholder="Nhập tên hoặc email">
    </div>
    <table id="userTable" class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Mô tả</th>

            <th class="text-right">Thao tác</th>
        </tr>
        @if (ViewBag.Categories != null)
        {
            foreach (var cate in ViewBag.Categories)
            {
                <tr>
                    <td class="cID">@cate.ID</td>
                    <td class="cName">@cate.Name</td>
                    <td class="cDescription">@cate.Description</td>

                    <td class="text-right">
                        <a href="javascript:;" class="btn btn-outline-info btn-primary btnupdate">Cập nhật</a>
                        <a href="@Url.Action("Delete", "Category", new { id=cate.ID })"class="btn btn-outline-danger btn-rounded"><svg class="svg-inline--fa fa-trash fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"></path></svg><!-- <i class="fas fa-trash"></i> --></a>

                    </td>
                </tr>
            }
        }

    </table>
</div>

<script>

    var searchInput = document.getElementById("searchInput")
    var userTable = document.getElementById("userTable");

    function searchUser() {
        const searchTerm = searchInput.value.toLowerCase();

        for (let i = 1; i < userTable.rows.length; i++) {
            const name = userTable.rows[i].cells[1].textContent.toLowerCase();
            const email = userTable.rows[i].cells[2].textContent.toLowerCase();

            if (name.includes(searchTerm) || email.includes(searchTerm)) {
                userTable.rows[i].style.display = ''; // Show the row
            } else {
                userTable.rows[i].style.display = 'none'; // Hide the row
            }
        }
    }

    Validator({
        form: '#form',
        formGroupSelector: '.form-item',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#Name', "Vui lòng nhập tên danh mục!")
        ]
    })

    document.querySelectorAll(".btnupdate").forEach(e => e.addEventListener("click", () => {
        let form_edit =  document.getElementById("form-edit");
        document.getElementById("form").style.display = "none";
        form_edit.style.display = "block";
        console.log(e)
        let tr = e.closest("tr");
        console.log(tr)
        form_edit.querySelector('.cID').value = tr.querySelector('.cID').textContent;
        form_edit.querySelector('.name').value = tr.querySelector('.cName').textContent;
        form_edit.querySelector('.description').value = tr.querySelector('.cDescription').textContent;

    }))
</script>
